.ItemButtonWrapper{
    position: relative;
    width: 200px;
    margin-bottom: 20px;
}
.ItemBtn{
    position: relative;
    padding: 11px 24px;
    border: 2px solid #009C9C;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
    width: 100%;
}
.ItemButtonActive{
    position: relative;
    padding: 11px 24px;
    border: 2px solid #009C9C;
    background-color: #009C9C;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
    width: 100%;
}
.ItemBtnDelete{
    position: absolute;
    top: -5px;
    right: -5px;
    cursor: pointer;
}
.ItemBtnDelete > svg{
    transform: rotate(45deg);
}