.Header{
    padding: 35px 0;
}
.HeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HeaderLogo{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
}
.HeaderForm{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 760px;
    width: 760px;
}
.HeaderInput{
    max-width: 510px;
    width: 100%;
    padding: 6px 6px;
    border: 2px solid #39E639;
    color: #FFFFFF;
    font-size: 18px;
}
.HeaderButton{
    height: 40px;
    border: 2px solid #39E639;
    padding: 0 25px;
    border-left: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
}